<div class="giiker-about-us-text-container" style="background-color: {{ section.settings.background_color }};">
  <div class="giiker-about-us-text-content">
    <h2 class="giiker-about-us-text-title">{{ section.settings.title }}</h2>
    <div class="giiker-about-us-text-detail">{{ section.settings.detail }}</div>
    <div class="giiker-about-us-text-image">
      {{
      section.settings.image
      | image_url: width: section.settings.image.width
      | image_tag: height: section.settings.image.height,
        fetchpriority: 'high', loading: 'lazy', class: 'image-tag'
      }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Giiker about us text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "detail",
      "label": "Detail"
    }
  ],
  "presets": [
    {
      "name": "Giiker about us text"
    }
  ]
}
{% endschema %}