<section id="#{{ section.id }}">
  
</section>

{% schema %}
{
  "name": "Giiker Product Roller",
  "settings": [

    {
      "type": "video",
      "id": "video_picker",
      "label": "Video Picker"
    },
    {
      "type": "image_picker",
      "id": "background_top_image",
      "label": "Background Top Image"
    },
    {
      "type": "image_picker",
      "id": "background_bottom_image",
      "label": "Background Bottom Image"
    }
  ],
  "presets": [
    {
      "name": "Giiker Product Roller"
    }
  ]
}
{% endschema %}