{% if section.settings.btn_url != blank %}
  <div class="giiker-product-btn-container" style="">
  <div class="giiker-product-btn-content">
    <div class="btn-btn">
      <a href="{{ section.settings.btn_url }}" class="btn-btn-link">
        {{ section.settings.btn_label }}
      </a>
    </div>
  </div>
</div>
{% endif %}

<style>
  .giiker-product-btn-container {
    width: 100%;
  }
  .btn-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }
  .btn-btn a{
    width: max-content;
    border: 1px solid #000;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    font-family: ComicNeue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  .btn-btn a:hover{
    background: #000;
    color: #fff;
  }
</style>
{% schema %}
{
  "name": "Giiker Product Btn",
  "settings": [
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    }
  ],

  "presets": [
    {
      "name": "Giiker Product Btn"
    }
  ]
}
{% endschema %}