<section id="#{{ section.id }}">
  <div class="giiker-home-image-video">
    <div class="giiker-home-image">
      {% if section.settings.pc_image != blank %}
      {{
        section.settings.pc_image
        | image_url: width: section.settings.pc_image.width
        | image_tag: loading: 'eager', fetchpriority: 'high', decoding: 'async', class: 'image-tag', data-cc-animate: 'fade-in'
    }} 
    {% endif %} {% if section.settings.video != blank %}
      {{ section.settings.video | video_tag: loading: 'eager', fetchpriority: 'high', decoding: 'async', class: 'video-tag', data-cc-animate: 'fade-in' }}
    {% endif %}

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Giiker Home Image Video",
  "settings": [
    {
      "type": "image_picker",
      "id": "pc_image",
      "label": "Image"
    },
    {
      "type": "video",
      "id": "video_picker",
      "label": "Video Picker"
    }
  ]
}
{% endschema %}