<section id="#{{ section.id }}">
  <div class="giiker-home-image-video">
    <div class="giiker-home-image">
      {{
        section.settings.pc_image
        | image_url: width: section.settings.pc_image.width
        | image_tag: loading: 'eager', fetchpriority: 'high', decoding: 'async', class: 'image-tag', data-cc-animate: 'fade-in'
    }}
    </div>

  </div>
</section>

{% schema %}
{
  "name": "Giiker Home Image Video",
  "settings": [
    {
      "type": "image_picker",
      "id": "pc_image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Giiker Home Image Video"
    }
  ]
}
{% endschema %}